.logo{
    position:fixed!important;
    top:25px!important;
    left:0!important;
}


#XJDHvf,
#rhs{
    display:none!important;
}

#tsf{
    max-width:100%!important;
    width:100%!important;
}
#tsf .A8SBwf.sbfc{
    width:100%!important;
    padding-left:0!important;
} 
.A8SBwf .UUbT9{
    width:638px!important;
}
.A8SBwf{
    width:inherit!important;
    margin:0!important;
    padding-left:0!important;
/*     margin:0 auto!important; */
}


#cnt #center_col, #cnt #foot {
    width: 600px!important;
}
#hdtb-msb-vis{
    margin-left:0!important;
}
.RNNXgb{
/*   margin:0 auto!important; */
}
#hdtb-msb .hdtb-mitem:first-child.hdtb-msel {
   margin-left:0!important;
}
#hdtb-msb{
    position:absolute!important;
    left:0!important;
    right:0!important;
    min-width:500px!important;
    width:630px!important;
    margin:0 auto!important;
}

.hdtb-mn-cont,
#slim_appbar{
    position:relative!important;
    left:-10px!important;
    text-align:left!important;
    width:640px!important;
    margin:0 auto!important;
}

.mw{
    max-width:100%!important;  
}

.UUbT9 {
    width: 630px!important;
    
    margin: 5px auto!important;
}
#rcnt .col{
    width:100%!important;
}
#center_col{
    margin:0 auto!important;
}
/* footer */
.fbar,
.B4GxFc{
   
    width:500px!important;
    margin:0 auto!important;
} 

