#XJDHvf,
#rhs{
    display:none!important;
}

#tsf{
    max-width:100%!important;
    width:100%!important;
}
.A8SBwf{
    width:inherit!important;
    margin:0;
/*     margin:0 auto!important; */
}
.RNNXgb{
/*   margin:0 auto!important; */
}
#hdtb-msb .hdtb-mitem:first-child.hdtb-msel {
   margin-left:0!important;
}
#hdtb-msb{
    position:absolute!important;
    left:0!important;
    right:0!important;
    min-width:500px!important;
    width:630px!important;
    margin:0 auto!important;
}

.hdtb-mn-cont,
#slim_appbar{
    position:relative!important;
    left:-10px!important;
    text-align:left!important;
    width:640px!important;
    margin:0 auto!important;
}

.mw{
    max-width:100%!important;  
}

.UUbT9 {
    width: 630px!important;
    
    margin: 5px auto!important;
}
#rcnt .col{
    width:100%!important;
}
#center_col{
    margin:0 auto!important;
   
}
/* footer */
.fbar,
.B4GxFc{
   
    width:500px;
    margin:0 auto;
} 

#center_col{
    width:100%!important;
}
#res{
    width:1380px!important;
    margin:0 auto;
}
.bkWMgd .g, .srg .g{
    width:640px!important;
}

.googlelists{
    float:left!important;
    
}
.googlelists> .g{
    
    width:680px!important;
   
}

.googlelists.googlelists2{
    margin-left:50px!important;
}
#cnt #center_col, #cnt #foot {
   
    margin: auto!important;
}

#rso:after{
    content:""!important;
    display:table!important;
    clear:both!important;
}

#foot{
    margin-top:50px!important;
    margin-bottom:50px!important;
} 

